<!-- filepath: /c:/Users/gaurt/Downloads/website_project/templates/Project2.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Project 2{% endblock %}
{% block content %}
<div class="content-wrapper">
    <div class="left-content">
        <img src="{% static 'images/three_houses.jpeg' %}" alt="Three Houses">
    </div>
    <div class="right-content">
        <h1>Housing Website</h1>
        <p>A website that can be used by any condo or apartment company to display information about them and for their customers. Download the project using the below link to use.</p>
        <a href="https://github.com/WSU-4410-Fall-2024/group-project-2-group-2-event-wizard" class="download-button">Link</a>
    </div>
</div>
{% endblock %}