<!-- filepath: /c:/Users/gaurt/Downloads/website_project/templates/Project1.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Project 1{% endblock %}
{% block content %}
<div class="content-wrapper">
    <div class="left-content">
        <img src="{% static 'images/party.jpeg' %}" alt="Checklist and Balloons">
    </div>
    <div class="right-content">
        <h1>Event Planner</h1>
        <p>Event planning website which helps you register for planning an event. Download the project using the below link to use.</p>
        <a href="https://github.com/ChinmayDeore/EventPlanner" class="download-button">Link</a>
    </div>
</div>
{% endblock %}